<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocGen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dsfr.css') }}" />
    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="favicon/manifest.webmanifest" crossorigin="use-credentials">
</head>

<body>
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <a href="/" title="Accueil - DRIEAT-IF">
                                    <p class="fr-logo">
                                        TBD<br>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="/" title="Accueil - [À MODIFIER | Nom du site / service]">
                              <p class="fr-header__service-title">GenDoc</p>
                            </a>
                            <p class="fr-header__service-tagline">Outils de génération de documents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>

    {% block content %}
    {% endblock %}

    <script type="module" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='dsfr.module.min.js') }}"></script>
    <script type="text/javascript" nomodule src="{{ url_for('static', filename='dsfr.nomodule.min.js') }}"></script>
</body>
</html>