{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block content %}
<div class="container">
  <form method=post>
      {{ form.csrf_token }}
      {{ render_field(form.source) }}
      {{ render_field(form.date_source) }}
      {{ render_field(form.article_source) }}
      {{ render_field(form.theme) }}
      {{ render_field(form.sous_theme) }}
      {{ render_field(form.prescription) }}
      {{ render_field(form.constats)}}
    <input type=submit class="button is-primary" value="Créer">
  </form>
</div>
{% endblock %}